/* Reset */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

p {
  padding: 10px 0;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif; 
  text-transform: uppercase; 
  letter-spacing: 1px;  position: relative;
  background: #464646;
  overflow-y: hidden;
  overflow-x: hidden;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

/* Side menu */
.sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 250px;
  background: rgba(225, 225, 225, 1);
  color: #464646;
  padding: 20px;
  text-transform: uppercase;
}
.sideMenu.right {
  left: auto;
  right: 0;
}
.sideMenu > ul {
  padding: 0;
  list-style: none;
  margin: 20px 0;
}
.sideMenu > ul > li {
  border-top: 1px solid #f2f2f2;
  position: relative;
  overflow: hidden;
}
.sideMenu > ul > li a {
  color: #464646;
  text-decoration: none;
  display: block;
  line-height: 3.2;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 -10px;
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
}
.sideMenu > ul > li a:hover {
  color: #222222;
  text-indent: 250px;
}
.sideMenu > ul > li a::before {
  color: #FFF;
  float: left;
  width: 250px;
  margin-left: -250px;
}

/* Toggle button */

.menuBtn {
  display: inline-block;
  background: #2bb673;
  border-radius: 20px;
  color: #FFF;
  cursor: pointer;
  display: block;
  font: bold 1.7em/36px Courier New;
  width: 36px;
  height: 36px;
  text-align: center;
  text-shadow: 0 -5px, 0 5px;
  transition: 0.15s;
}
.menuBtn:hover {
  background: #222;
}

#greeting {
	padding: 5px;
	float: right;
	vertical-align: middle;
}

#organization-name {
	padding: 5px;
  padding-left: 10px;
	float: left;
	vertical-align: middle;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

/* Content handling */
#contentWrap {
  min-height: 100%;
  position: relative;
  z-index: 1;
  background: #f2f2f2;
  padding: 0px;
  transition: 0.4s cubic-bezier(0.335, 0.815, 0.47, 1);
}

#header {
	padding:30px;
	background: #fff;
	height: 100px;
	width: 100%;
	float: right;
}


#sideToggle1:checked ~ #contentWrap {
  -webkit-transform: translatex(250px);
  border-radius: 8px;
  transform: translatex(250px);
}


/* ----------------- */


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { 
  display: block; 
}
audio, canvas, video { 
  display: inline-block; 
  *display: inline; 
  *zoom: 1; 
}
audio:not([controls]) { 
  display: none; 
}

[hidden] { display: none; }
/*---html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; } --*/

/*Define Accordion box*/
.accordion { 
  position: relative;
  top: 20px;
  width:830px; 
  overflow:hidden; 
  margin: 0px auto; 
  color:#474747; 
  background:none; 
  padding: 20px; 
}

/*General Accordion****************************************************************************/
/*Set style of open slide*/
.accordion section:target { background:#fff; padding:0px; width: 99%;}
.accordion section:target:hover h2 a { background:#f2f2f2; color: #2bb673; }
.accordion section:target h2 {width:100%; padding: 0px;}
.accordion section:target h2 a{ 
    color:#2bb673; 
    padding:0px; 
    position: relative; 
    top: 10px;
    background: url(edit.svg);
    background-size: 15px 15px;
    background-position: 720px 1px;
    background-repeat: no-repeat;
}
.accordion section:target p {display:block; padding: 10px; margin-top: 10px}
.accordion section h2 a{
    position:relative; left:10px; top: 10px; 
    display:block; 
    font-size:16px; 
    font-weight:normal;
    color:#fff; 
    text-decoration:none; 
  }


/*set style of closed slide*/
.accordion section{ 
  position: relative;
  overflow:hidden; 
  color:#333; 
  cursor:pointer; 
  background: #333; 
  margin:3px; 
}

#event-1 a {
  background: url(edit.svg);
  background-size: 15px 15px;
  background-position: 720px 1px;
  background-repeat: no-repeat;
}

#event-2 a {
  background: url(edit.svg);
  background-size: 15px 15px;
  background-position: 720px 1px;
  background-repeat: no-repeat;
}

#add-new h2 {
  text-align: center;
}

.accordion section p { display:none; }
.accordion section:after{position:relative;font-size:24px;color:#000;font-weight:bold;}
/*End General Accordion****************************************************************************/

/*Vertical Accordion *************************************************************************/
.vertical section{ width:99%; height:40px; background: #2bb673;
  -webkit-transition:height 0.2s ease-out;
  -moz-transition:height 0.2s ease-out;
    -o-transition:height 0.2s ease-out;
  -ms-transition:height 0.2s ease-out;
    transition:height 0.2s ease-out;
}
/*Set height of the slide*/
.vertical :target{ height:250px; width:100%; }

.vertical section h2 { color: #2bb673; }

/*Set position of the number on the slide
.vertical section:after{ top:-60px;left:810px;}
.vertical section:target:after{ left:-9999px;}
*/

/* ----------------- */

button {
  color: #fff;
  padding: 10px 20px;
  background: #2bb673);
  -moz-border-radius: 2px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 0px solid #134201;
  -moz-box-shadow:
    0px 0px 0px rgba(000,000,000,0),
    inset 0px 0px 0px rgba(255,255,255,0);
  -webkit-box-shadow:
    0px 0px 0px rgba(000,000,000,0),
    inset 0px 0px 0px rgba(255,255,255,0);
  box-shadow:
    0px 0px 0px rgba(000,000,000,0),
    inset 0px 0px 0px rgba(255,255,255,0);
  text-shadow:
    0px 0px 0px rgba(000,000,000,0),
    0px 0px 0px rgba(255,255,255,0);
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(43, 182, 115, 0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}


/*------------------*/

#form-main{
    width:100%;
    float:left;
    padding-top:50px;
}

#form-div {
    background-color:rgba(225, 225, 225, 1);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
  margin-top:30px;
    margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #2bb673;
    color: #2bb673;
    outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
    color:#2bb673;
    border:#2bb673 solid 3px;
}

/* Icons ---------------------------------- */
#title{
    background-image: url(title.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#title:focus{
    background-image: url(title.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
}

#date{
    background-image: url(calendar.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#date:focus{
    background-image: url(calendar.svg);
    background-size: 30px 30px;
  background-position: 11px 8px;
    background-repeat: no-repeat;
}

#description {
    background-image: url(description.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#description:focus {
    background-image: url(description.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#location {
    background-image: url(location.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#location:focus {
    background-image: url(location.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#save{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #2bb673;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#save:hover{
    background-color: rgba(0,0,0,0);
    color: #2bb673;
}
    
.save:hover {
    color: #2bb673;
}
    
.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.save:hover .ease{
  width:100%;
  background-color:white;
}

#delete{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #e25050;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#delete:hover{
    background-color: rgba(0,0,0,0);
    color: #e25050;
}
    
.delete:hover {
    color: #e25050;
}
    
.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.delete:hover .ease{
  width:100%;
  background-color:white;
}

/*------------------*/

@media (max-width: 1280px) {


}

@media (max-width: 1000px) {
  #grid {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #grid {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {

  #organization-name {
    text-align: center;
  }

  #contentWrap {
    height: 100%;
    overflow-y: scroll;
  }

  html { 
    height: 100%;
  }

  body {
    overflow-y: hidden;
    height: 100%;
    background: #f2f2f2;
  }
}
